body{
	margin: 0;
	padding: 0;
}

*{
	box-sizing:border-box;
}

.section-content {
  border: solid 1px black;
  border-radius: 10px;
  float: left;
  padding: 10px;
}

@media (min-width:1280px)
{
	header{
	max-width: 1200px;
	margin: 0 auto;
	height: 120px;
	overflow: visible;
	background: #232323;
  	color: #cdcdcd;
}

#page-content {
	padding: 20px;
	max-width: 1200px;
	margin: 0 auto;
	background: green;
	font-family: 'Montserrat', sans-serif;
}

main {
  width: calc(100% - 200px);
}

aside {
  width: 150px;
  margin-left: 20px;
}

footer{
  
}}

@media (max-width:1279px)
{
	header{
	max-width: 960px;
	margin: 0 auto;
	height: 120px;
	background: #232323;
  	color: #cdcdcd;
}

#page-content {
	padding: 20px;
	max-width: 960px;
	margin: 0 auto;
	background: green;
	font-family: 'Montserrat', sans-serif;
}

main {
  width: calc(100% - 160px);
}

aside {
  width: 145px;
  margin-left: 15px;
}}

