body{
	margin: 0;
	padding: 0;
	background: #ddd;	
}

*{
	box-sizing:border-box;
}


section{
	display: grid;
  	grid-template-columns: 3fr 1fr;
  	grid-template-areas: 
    "main sidebar";
}

main {
	grid-area: main;
}

aside {
	grid-area: sidebar;
}

@media (min-width:1280px)
{
	header{
	max-width: 1200px;
	margin: 0 auto;
	height: 120px;
	border-radius: 10px 10px 0 0;
	overflow: visible;
	background: #232323;
  	color: #cdcdcd;
}
footer{
	max-width: 1200px;
	margin: 0 auto;
	height: 50px;
	border-radius:0 0 10px 10px ;
	overflow: visible;
	background: #232323;
  	color: #cdcdcd;
}

#page-content {
	padding: 20px;
	max-width: 1200px;
	margin: 0 auto;
	background: white;
	font-family: 'Montserrat', sans-serif;
}

footer{
  clear: both;
}}

@media (max-width:1279px)
{
	header{
	max-width: 960px;
	margin: 0 auto;
	height: 120px;
	border-radius: 15px 15px 0 0;
	background: #232323;
  	color: #cdcdcd;
}

footer{
	max-width: 960px;
	margin: 0 auto;
	height: 50px;
	border-radius: 0 0 15px 15px ;
	background: #232323;
  	color: #cdcdcd;
}

#page-content {
	padding: 20px;
	max-width: 960px;
	margin: 0 auto;
	background: white;
	font-family: 'Montserrat', sans-serif;
}

main {
  width: calc(100% - 160px);
}

@media (min-width:800px){

header svg{
  padding-left: 25px; 
  padding-top: 5px;
}
}
